@import "assets/fontawesome/css/all.css";
@import "variables";

body {
  color: $color-font;
  background-color: $color-bg-0;
  font-family: "Roboto";
  font-size: 16px;
}

a {
  color: #007BED
}

.page {
  padding: 20px;
}

.box {
  padding: 20px;
  margin-bottom: 20px;
  background-color: $color-bg-1;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.box-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 14px;
}

.row-title {
  font-weight: bold;
  color: $color-font;
  font-size: 18px;
  margin-bottom: 10px;
}

.row-subtitle {
  color: $color-font-gray;
  font-size: 15px;
  margin-bottom: 20px;
}

.badge-warning {
  background-color: $color-warning;
  color: $color-bg-0;
  font-weight: bold;
}

.apexcharts-canvas.dark {
  background-color: $color-bg-1 !important;
}

.vc-text-gray-200 {
  color: $color-font;
}
.vc-border-gray-700 {
  border: none;
}
.vc-bg-gray-900 {
  background-color: transparent;
}
.vc-text-white {
  color: #1E1E1E;
}
.vc-select-none {
  color: #F0F0F0 !important;
}

.dropdown {
  .btn-link {
    color: $color-font;
    font-size: 16px;
    font-weight: bold;
    padding: 0;

    &:hover {
      color: $color-font;
    }

    i {
      margin-left: 5px;
    }
  }

  .dropdown-menu {
    min-width: 200px;
    background-color: $color-bg-4;
    color: #F0F0F0;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

    .dropdown-item {
      color: #F0F0F0;
      font-weight: bold;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      &:hover {
        background-color: $color-bg-9;
      }
      i {
        margin-right: 10px;
      }

      &[size="sm"] {
        padding: 5px 15px;
        font-size: 14px;
      }
    }
  }
  .b-dropdown-text {
    padding: 5px;
  }
}

.modal {
  .close {
    color: $color-font;
    outline: none;
  }
  .modal-header, .modal-footer {
    border-color: $color-bg-5;
  }
  .modal-title {
    font-size: 18px;
  }
}

.modal-info {
  padding: 20px;
  background-color: $color-bg-2;
  color: $color-font-gray;
}

.modal-content {
  background-color: $color-bg-1;
  color: $color-font;
}

.modal-backdrop {
  opacity: 0.9;
}

.modal-body {
  padding: 0;
}

.modal-bg-no-opacity + .modal-backdrop {
  background-color: $color-bg-0;
  opacity: 1;
}

.swal2-container.swal2-shown {
  background-color: rgba(#000, 0.9);
}

.swal2-popup {
  width: 30rem;
  background-color: $color-bg-1;
  color: $color-font;
  border-radius: 5px;
}

.swal2-title {
  color: $color-font;
  font-size: 24px;
  margin-bottom: 20px;
}

.swal2-content {
  color: $color-font;
  font-size: 16px;
  line-height: 1.5;
}

.swal2-styled {
  font-weight: bold !important;
  padding: 0.5rem 1.5rem;
  &:focus {
    box-shadow: none !important;
  }

  &:hover {
    box-shadow: $box-shadow-button;
  }
}

.swal2-styled.swal2-cancel {
  color: $color-font;
  font-weight: inherit;
  background-color: $color-bg-6;

  &:hover {
    color: $color-font;
    background-color: $color-bg-9;
  }
}

.swal2-styled.swal2-confirm {
  background-color: $color-primary;
  border-color:  $color-primary;
  color: white;

  &:hover {
    background-color: $color-primary-hover;
    border-color: $color-primary-hover;
  }
}

//.swal2-icon {
//  width: 4rem;
//  height: 4rem;
//  margin-bottom: 20px;
//  margin-top: 20px;
//}

body.swal2-toast-shown .swal2-container.swal2-top-end, body.swal2-toast-shown .swal2-container.swal2-top-right {
  padding: 15px;
}

.swal2-popup.swal2-toast {
  background-color: $color-bg-9;
  //box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.swal2-toast .swal2-x-mark {
  top: -16px;
}

.auth-tabs {
  .tab-content {
    padding: 0 !important;
    padding-top: 25px !important;
  }
  .nav-tabs {
    padding-left: 0 !important;
  }
  .nav-link {
    font-size: 18px !important;
    padding: 10px !important;
    padding-top: 0 !important;
    text-align: center;
  }
  .nav-item {
    width: 50%;
  }
}

.tabs {
  .nav-tabs {
    padding-left: 16px;
    border: none;
    .nav-link {
      padding: 10px 45px;
      font-weight: bold;
      border: none;
      border-bottom: 2px solid $color-font-gray;
      color: $color-font-gray;

      &.active {
        background: transparent;
        color: $color-primary;
        border-color: $color-primary;
      }
    }
  }

  .tab-content {
    padding: 16px;
  }
}

.was-validated .form-control:invalid, .form-control.is-invalid {
  border-color: $color-danger;
}
.invalid-feedback {
  color: $color-danger;
}

.custom-select {
  background-color: $color-bg-4;
  border-color: $color-bg-4;
  color: $color-font;
  padding: 10px 15px;
  height: auto;

  &:focus {
    background-color: $color-bg-4;
    border-color: $color-bg-4;
    color: $color-font;
    box-shadow: none;
  }
}

.col-form-label {
  color: $color-font-gray;
}

.form-control {
  background-color: $color-bg-4;
  border-color: $color-bg-4;
  color: $color-font;
  padding: 10px 15px;
  height: auto;

  &:focus {
    background-color: $color-bg-4;
    border-color: $color-bg-4;
    color: $color-font;
    box-shadow: none;
  }

  &::placeholder {
    color: rgba($color-font, 0.5);
  }

  &:-ms-input-placeholder {
    color: rgba($color-font, 0.5);
  }

  &::-ms-input-placeholder {
    color: rgba($color-font, 0.5);
  }
}

.form-control:disabled {
  background-color: $color-bg-4;
  border-color: $color-bg-4;
  color: #5f5f5f;
  cursor: not-allowed;
  padding: 0.375rem 0.75rem;
  height: auto;
}

.custom-control-label::before {
  background-color: $color-bg-6;
  width: 20px;
  height: 20px;
  top: 2px;
  box-shadow: none !important;
  outline: none !important;
}

.custom-control-label::after {
  width: 20px;
  height: 20px;
  top: 2px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: $color-primary;
}

.custom-checkbox {
  .custom-control-label {
    padding-left: 10px;
    cursor: pointer;
  }
}

.btn {
  font-weight: bold !important;
  &:focus {
    box-shadow: none !important;
  }

  &:hover {
    box-shadow: $box-shadow-button;
  }
}

.btn-link {
  color: $color-font;

  &:hover {
    color: $color-primary;
    box-shadow: none;
  }
}

.btn-warning {
  background-color: $color-warning;
  border-color: $color-warning;
  color: $color-bg-0 !important;

  .fas {
    margin-right: 10px;
  }

  &:hover {
    background-color: darken($color-warning, 10%);
    border-color: darken($color-warning, 10%);
  }
}

.btn-success {
  background-color: $color-success;
  border-color: $color-success;
  color: white !important;

  .fas {
    margin-right: 10px;
  }

  &:hover {
    background-color: darken($color-success, 10%);
    border-color: darken($color-success, 10%);
  }
}

.btn-primary {
  background-color: $color-primary;
  border-color:  $color-primary;
  color: white;

  &:hover {
    background-color: $color-primary-hover;
    border-color: $color-primary-hover;
  }
}

.btn-black {
  color: $color-font;
  font-weight: inherit;
  background-color: $color-bg-6;

  &:hover {
    color: $color-font;
    background-color: $color-bg-9;
  }
}

.color-primary {
  color: $color-primary;
}

.vdatetime-overlay {
  background-color: rgba(black, 0.9);
}

.theme-dark {
  .vdatetime-input {
    background-color: $color-bg-4;
    border: 1px solid $color-bg-4;
    border-radius: 5px;
    color: $color-font;
    padding: 8px 16px;
    height: auto;
    box-shadow: none;
  }

  .vdatetime-popup {
    background-color: $color-bg-1;
    color: $color-font;
    top: 40%;
  }

  .vdatetime-popup__header {
    background: $color-bg-1;
    padding: 20px 30px;
  }

  .vdatetime-calendar__month__day {
    font-size: 16px;
  }

  .vdatetime-calendar__month__day:hover > span > span {
    background: $color-bg-9;
  }

  .vdatetime-year-picker__item--selected, .vdatetime-calendar__month__day--selected > span > span, .vdatetime-calendar__month__day--selected:hover > span > span {
    background: $color-primary;
  }

  .vdatetime-year-picker__item--selected, .vdatetime-time-picker__item--selected, .vdatetime-popup__actions__button {
    color: $color-primary;
  }

  .vdatetime-popup__actions__button {
    border-radius: 5px;
    font-weight: bold !important;
    font-size: 14px;
    color: $color-font;
    background-color: $color-bg-6;
    transition-property: color, background-color, border-color, box-shadow, -webkit-box-shadow;
    transition-duration: 0.15s, 0.15s, 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0s, 0s, 0s;
    &:focus {
      box-shadow: none !important;
    }

    &:hover {
      box-shadow: $box-shadow-button;
      color: $color-font;
      background-color: $color-bg-9;
    }
  }

  .vdatetime-popup__actions__button--confirm {
    background-color: $color-primary;
    border-color:  $color-primary;
    color: white;

    &:hover {
      background-color: $color-primary-hover;
      border-color: $color-primary-hover;
    }
  }

  .vdatetime-year-picker__item--selected {
    background: $color-primary;
    color: $color-font;
  }

  .vdatetime-month-picker__item--selected {
    color: $color-primary;
  }

  .vdatetime-popup__actions {
    margin-top: 15px;
    padding: 0 20px 20px 20px;
  }

  .vdatetime-popup__title {
    font-weight: bold;
    color: $color-font-gray;
    margin-bottom: 20px;
    font-size: 18px;
  }

  .vdatetime-time-picker__list {
    &::-webkit-scrollbar
    {
      width: 6px;  /* for vertical scrollbars */
      height: 6px; /* for horizontal scrollbars */
    }

    &::-webkit-scrollbar-track
    {
      background: rgba(0, 0, 0, 0.2);
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb
    {
      background: rgba(0, 0, 0, 0.5);
      border-radius: 5px;
    }
  }
}

.slot__time .vdatetime-input {
  width: 100px;
  padding: 0.375rem 0.75rem;
}

.slot__category .custom-select {
  width: 240px;
  padding: 0.375rem 0.75rem;
}

.checkbox-subtitle {
  color: $color-font-gray;
  margin-top: 5px;
  font-size: 14px;
}

.s-modal-content {
  padding: 20px;
}

.popover {
  border: 1px solid $color-bg-0;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.popover-header {
  background-color: $color-bg-4;
  color: $color-font;
  border-bottom-color: $color-bg-0;
}

.popover-body {
  //background-color: $color-bg-9;
  //color: $color-font-gray;
}

.bs-popover-auto[x-placement^=top]>.arrow:after, .bs-popover-top>.arrow:after {
  bottom: 1px;
  border-width: .5rem .5rem 0;
  border-top-color: $color-bg-9;
}

.access-denied {
  text-align: center;
  padding: 50px;
  font-size: 18px;
  color: $color-font-gray;

  img {
    max-width: 200px;
    margin-bottom: 30px;
  }

  &__header {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
    color: $color-font;
  }
}